# version: "3.9"

services:

  # ollama:
  #   image: ollama/ollama:latest
  #   container_name: ollama
  #   ports:
  #     - "11434:11434"
  #   volumes:
  #     - ollama-data:/root/.ollama
  #   command: >
  #     sh -c "
  #     ollama serve &
  #     sleep 5 &&
  #     ollama pull phi:mini &&
  #     wait
  #     "
  #   healthcheck:
  #     test: ["CMD", "ollama", "list"]
  #     interval: 10s
  #     timeout: 5s
  #     retries: 10
      
  #   # environment:
  #   #   - OLLAMA_MAX_LOADED_MODELS=1
  #   #   - OLLAMA_NUM_PARALLEL=1
  #   restart: unless-stopped
  backend:
    build: .
    container_name: dependency-risk-analyzer
    ports:
      - "4000:4000"
    env_file:
      - .env
    # depends_on:
    #   ollama:
    #     condition: service_healthy
    restart: unless-stopped 

volumes:
  ollama-data: