# version: "3.9"

services:
  backend:
    build: .
    container_name: dependency-risk-analyzer
    ports:
      - "4000:4000"
    env_file:
      - .env
    environment:
      - RUNNING_IN_DOCKER=true
    restart: unless-stopped 

volumes:
  ollama-data: